.index {
    display: flex;
}

.title {
    color: #593CB2;
    font-size: 20px;
    margin: 28px;
    font-family: "Tahoma", sans-serif;
    margin-left: 16%;
}

.subtitle {
    color: #593CB2;
    font-size: 32px;
    margin: 28px;
    font-family: "Times", serif;
    margin-left: 40%;
}

.page {
    color: #666135;
    font-size: 24px;
    margin: 28px;
    font-family: "Verdana", sans-serif;
    margin-left: 30%;
}

.para {
    color: #980A2B;
    font-size: 24px;
    margin: 40px;
    font-family: "Times", serif;
    margin-left: 22%;
    margin-right: 24%;
}

.end {
    color: #704305;
    font-size: 18px;
    margin: 20px;
    font-family: "Times", serif;
    text-decoration: none;
    margin-left: 40%;
}

.QRend {
    color: #704305;
    font-size: 18px;
    margin: 20px;
    font-family: "Times", serif;
    text-decoration: none;
    margin-left: 44%;
}